.date {
  grid-area: date;
}
.game{
  grid-area: game;
  font-weight: bold;
  font-size: 28px;
  border-style: solid;
  border-color: rgb(134, 31, 65);
  border-width: 3px;
  background: rgb(255, 136, 45);
  width: 235px;
  text-align: center;
}
.location{
  grid-area: location;
}
.season{
  grid-area: season;
  width: 235px;
  text-align: center;
  font-weight: bold;
}
.date{
  grid-area: date;
}
.section{
  grid-area: section;
}
.rownum{
  grid-area: rownum;
}
.seat{
  grid-area: seat;
}
.scan{
  grid-area: scan;
}
.stadiumlocation{
  grid-area: stadiumlocation;
}

.parecord-card {
  border-style: solid;
  border-color: rgb(134, 31, 65);
  width: 80%;
  border-width: 10px;
  font-size: 18px;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 40px 40px 40px 40px 80px 80px 80px 40px;
  grid-template-areas:
    "game game game"
    "season season season"
    "stadiumlocation stadiumlocation stadiumlocation"
    "location location location"
    "date date date"

    "section section section"
    "rownum rownum rownum"
    "seat seat seat";
  /* The image used */
  background-image: url("../Dist/WhiteHokieStone.PNG");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




