<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Initial Auction">
    <mat-list>
      <mat-list-item>Ticket 1</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Ticket 2</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Ticket 3</mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab label="Buy From Student">
    <mat-list>
      <mat-list-item>Ticket 1</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Ticket 2</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Ticket 3</mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab label="Active Bids">
    <mat-list>
      <mat-list-item>My Ticket bid 1</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-tab>
</mat-tab-group>
