<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Initial Auction">
    <div class="example-container mat-elevation-z8">
    <div class="example-loading-shade"
        *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    </div>

    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex: 'Miami'">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="ticket-table">

      <ng-container matColumnDef="GameName">
        <th mat-header-cell *matHeaderCellDef> Game </th>
        <td mat-cell *matCellDef="let ticket"> {{ticket.GameName}} </td>
      </ng-container>

      <ng-container matColumnDef="StadiumSection">
        <th mat-header-cell *matHeaderCellDef> Stadium Section </th>
        <td mat-cell *matCellDef="let ticket"> {{ticket.StadiumSection}} </td>
      </ng-container>

      <ng-container matColumnDef="SportSeason">
        <th mat-header-cell *matHeaderCellDef> Sport </th>
        <td mat-cell *matCellDef="let ticket"> {{ticket.SportSeason}} </td>
      </ng-container>

      <ng-container matColumnDef="Location">
        <th mat-header-cell *matHeaderCellDef> Location </th>
        <td mat-cell *matCellDef="let ticket"> {{ticket.Location}} </td>
      </ng-container>

      <ng-container matColumnDef="GameDate">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let ticket"> {{ticket.GameDate | date:'shortDate'}} </td>
      </ng-container>

      <ng-container matColumnDef="Section">
        <th mat-header-cell *matHeaderCellDef> Section </th>
        <td mat-cell *matCellDef="let ticket"> {{ticket.Section}} </td>
      </ng-container>

      <ng-container matColumnDef="Row">
        <th mat-header-cell *matHeaderCellDef> Row </th>
        <td mat-cell *matCellDef="let ticket"> {{ticket.Row}} </td>
      </ng-container>

      <ng-container matColumnDef="Seat">
        <th mat-header-cell *matHeaderCellDef> Seat </th>
        <td mat-cell *matCellDef="let ticket"> {{ticket.Seat}} </td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

  </mat-tab>
  <mat-tab label="Buy From Student">
    <mat-list>
      <mat-list-item>Ticket 1</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Ticket 2</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Ticket 3</mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab label="Active Bids">
    <mat-list>
      <mat-list-item>My Ticket bid 1</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-tab>
</mat-tab-group>
