<form [formGroup]="sellForm" (ngSumbit) = "onSubmit()" class = "sell-form">
<mat-card class="sell-card">
  <mat-card-header>
    <mat-card-title>Sell Ticket</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <div>
    <mat-form-field>
      <mat-label>Choose Ticket to Sell</mat-label>
      <mat-select formControlName="ticket" [ngClass]="{ 'is-invalid': submitted && form.ticket.errors }">
        <mat-option *ngFor="let ticket of ownedTickets" [value]="ticket">
        {{ticket.game}} {{ticket.date | date:'shortDate'}} Sec:{{ticket.section}} Row:{{ticket.row}} Seat:{{ticket.seat}}
        </mat-option>
        <div *ngIf="submitted && form.ticket.errors" class="invalid-feedback">
          <mat-hint *ngIf="form.ticket.errors.required">Please Choose a Ticket to Sell</mat-hint>
        </div>
      </mat-select>
    </mat-form-field>
    </div>

  <div>
  <mat-form-field class="price">
    <mat-label>Price</mat-label>
    <input matInput type="text" formControlName="price" [ngClass]="{ 'is-invalid': submitted && form.price.errors }" matInput placeholder="ex. 20">
    <div *ngIf="submitted && form.price.errors" class="invalid-feedback">
      <mat-hint *ngIf="form.price.errors.required">A Price is required to sell ticket</mat-hint>
      <mat-hint *ngIf="form.price.errors.min">Please enter a valid price</mat-hint>
      <mat-hint *ngIf="form.price.errors.pattern">Please enter a valid price</mat-hint>
    </div>
  </mat-form-field>
  </div>

  </mat-card-content>

  <mat-card-actions>
     <button class="post-button" mat-raised-button [style.background-color] = "'rgb(134, 31, 65)'" (click) = "this.openDialog()" [disabled]="loading">Post Listing</button>
  </mat-card-actions>

</mat-card>
</form>

<mat-card class="view-sell-card">
  <mat-card-header>
    <mat-card-title>Your Tickets Posted for Sale:</mat-card-title>
  </mat-card-header>
  <div>
  <table mat-table [dataSource]="postedDataSource" class="ticket-table" matSort >

      <ng-container matColumnDef="GameName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Game </th>
        <td mat-cell *matCellDef="let ticket"> {{ticket.game}} </td>
      </ng-container>

      <ng-container matColumnDef="StadiumSection" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Stadium Section </th>
        <td mat-cell *matCellDef="let ticket"> {{ticket.stadium_section}} </td>
      </ng-container>

      <ng-container matColumnDef="SportSeason" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sport </th>
        <td mat-cell *matCellDef="let ticket"> {{ticket.season}} </td>
      </ng-container>

      <ng-container matColumnDef="Location" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
        <td mat-cell *matCellDef="let ticket"> {{ticket.location}} </td>
      </ng-container>

      <ng-container matColumnDef="GameDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let ticket"> {{ticket.date | date:'shortDate'}} </td>
      </ng-container>

      <ng-container matColumnDef="Section">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Section </th>
        <td mat-cell *matCellDef="let ticket"> {{ticket.section}} </td>
      </ng-container>

      <ng-container matColumnDef="Row">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Row </th>
        <td mat-cell *matCellDef="let ticket"> {{ticket.row}} </td>
      </ng-container>

      <ng-container matColumnDef="Seat">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Seat </th>
        <td mat-cell *matCellDef="let ticket"> {{ticket.seat}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</mat-card>

