
    <mat-card class="fields">
      <mat-form-field>
        <mat-label>Game</mat-label>
        <input matInput (keyup)="setGame($event)" placeholder="Ex. Football: VT vs. Miami" [value]="this.ticket.game">
      </mat-form-field>
      <div></div>
      <mat-form-field>
        <mat-label>Stadium Section</mat-label>
        <input matInput (keyup)="setStadiumSection($event)" placeholder="Ex. NORTH END ZONE" [value]="this.ticket.stadium_section">
      </mat-form-field>
      <div></div>
      <mat-form-field>
        <mat-label>Season</mat-label>
        <input matInput (keyup)="setSeason($event)" placeholder="Ex. Football 2019" [value]="this.ticket.season">
      </mat-form-field>
      <div></div>
      <mat-form-field>
        <mat-label>Location</mat-label>
        <input matInput (keyup)="setLocation($event)" placeholder="Ex. Lane Statium Worsham" [value]="this.ticket.location">
      </mat-form-field>
      <div></div>
      <mat-form-field>
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker3" [value]="date.value">
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
      </mat-form-field>
      <div></div>
      <mat-form-field>
        <mat-label>Section</mat-label>
        <input matInput type="number" (keyup)="setSection($event)" placeholder="Ex. 15" [value]="this.ticket.section">
      </mat-form-field>
      <div></div>
      <mat-form-field>
        <mat-label>Row</mat-label>
        <input matInput type="number" (keyup)="setRow($event)" placeholder="Ex. 22" [value]="this.ticket.row">
      </mat-form-field>
      <div></div>
      <mat-form-field>
        <mat-label>Seat</mat-label>
        <input matInput type="number" (keyup)="setSeat($event)" placeholder="Ex. 18" [value]="this.ticket.seat">
      </mat-form-field>
      <div></div>
      <mat-form-field>
        <mat-label>Number of Tickets to Create</mat-label>
        <input matInput type="number" (keyup)="setNumber($event)" placeholder="Ex. 1" [value]="this.numTix">
      </mat-form-field>
      <div></div>
      <button mat-button (click)="submitMultiple()">Create Ticket(s)</button>
      <div></div>
      <mat-form-field>
        <mat-label>Base Price of Tickets</mat-label>
        <input matInput type="number" (keyup)="setPrice($event)" placeholder="Ex. 1" [value]="this.price">
      </mat-form-field>
      <div></div>
      <button mat-button (click)="postAllTickets()">Put All Tickets to Auction</button>
      <div></div>
      <button mat-button (click)="endAuctionAll()">End All Ticket Auctions</button>
      <div></div>
      <button mat-button (click)="test()">Test</button>
    </mat-card>

